# Copy to `.env.dev` and fill in.

TEAMSFX_ENV=dev
APP_NAME_SUFFIX=dev
CONNECTOR_ID=InternalSupportTickets
CONNECTOR_NAME=Internal Support Tickets
CONNECTOR_DESCRIPTION=Connection that indexes internal support tickets for Microsoft 365 Copilot.
CONNECTOR_DATA_PATH=tickets.json

# Target Azure resources
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP_NAME=
RESOURCE_SUFFIX=

# Generated during provision
